<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
		<pages>
			<controls>
				<add tagPrefix="ServerControls" namespace="ServerControls" assembly="ServerControls" />
			</controls>
		</pages>
    </system.web>
</configuration>
